

$color-tree-bg: #101010;
$color-tree-shade: #4E4E4D;
$color-text: #FFF;
$color-key: #FF2190;
$color-value: #C7AF53;
$color-value-wrapper: #CEA91D;
$color-link: cornflowerblue;

$color-alert-danger-text: #721c24;
$color-alert-danger-bg: #f1c6ca;
$color-alert-danger-border: #d56772;
$color-notice: antiquewhite;

$border-radius: 4px;
$dismiss-base: 1rem;
$notice-base: 10px;

