

$color-tree-bg: #101010;
$color-tree-shade: #4E4E4D;
$color-text: #FFF;
$color-key: #FF2190;
$color-value: #C7AF53;
$color-value-wrapper: #CEA91D;
$color-link: cornflowerblue;

$color-alert-danger-text: #721c24;
$color-alert-danger-bg: #f8d7da;
$color-alert-danger-border: #f5c6cb;

