
@import "variables";

// See for more info:
// https://github.com/WoodrowShigeru/InteractiveVarDump/issues/1
.ignorable-first-rule-due-to-utf8-bom-shenanigans {
	opacity: 1;
}


.ivd__tree {
	// TODO  something is broken with this fucking reset. It gets too much priority and overwrites many other rules. Define #resetBug.
	//
	/* Reset */
	&,
	span,
	ul {
		box-sizing: border-box;
		position: static;
		text-align: left;
		color: $color-text;
		background: none;
		width: auto;
		height: auto;
		padding: 0;
		margin: 0;
		font-size: 10px;
		line-height: 18px;
		vertical-align: baseline;
		visibility: visible;
		opacity: 1;
	}


	// written like this, with ampersand, or else the reset overwrites these values. See #resetBug.
	& {
		font-family: 'Verdana', 'Helvetica Neue', 'Helvetica', sans-serif;
		padding: 20px;
		margin: 13px 0;
		background: $color-tree-bg;
		box-shadow: 2px 2px 5px $color-tree-shade;
		border-radius: $border-radius;
		min-width: 400px;
		overflow-x: auto;
		z-index: 99999;
		position: relative;
	}

	&[data-ivd-color-mode="all"],
	&[data-ivd-color-mode="link"],
	&[data-ivd-color-mode="box"] {
		color: $color-text;
		background-color: $color-tree-bg;
	}

	&[data-ivd-color-mode="none"] {
		&,
		span:not(.ivd__alert),
		ul {
			color: $color-tree-bg;
			background-color: $color-text;
		}
	}

	.ivd__item {
		display: block;
	}

	.ivd--clickable {
		cursor: pointer;
		border-bottom: 1px solid $color-text;

		&:hover {
			border-bottom-style: dotted;
		}
	}

	&[data-ivd-color-mode="all"] .ivd--clickable,
	&[data-ivd-color-mode="link"] .ivd--clickable {
		color: $color-link;
		border-bottom-color: $color-link;
	}

	&[data-ivd-color-mode="none"] .ivd--clickable {
		border-bottom-color: $color-tree-bg;
	}

	.ivd__dismiss {
		display: inline-block;
		position: absolute;
		z-index: 2;
		top: 0.25rem;
		right: 0.25rem;

		// reset nonsense!
		box-sizing: content-box !important;

		width: 2 * $dismiss-base;
		height: $dismiss-base;
		line-height: $dismiss-base;
		text-align: center;
		font-weight: bold;
		border-radius: $border-radius;
		border: 1px dashed transparent;
		cursor: pointer;
	}

	&[data-ivd-color-mode="all"],
	&[data-ivd-color-mode="link"],
	&[data-ivd-color-mode="box"] {
		.ivd__dismiss:hover {
			border-color: $color-text;
		}
	}

	&[data-ivd-color-mode="none"] .ivd__dismiss:hover {
		border-color: $color-tree-bg;
	}

	.ivd__content {
		margin-left: 10px;
		display: block;
	}

	.ivd--collapsed {
		text-overflow: ellipsis;
		width: 9px;
		height: 14px;
		overflow: hidden;
		display: inline-block;
		margin-left: 0;

		&::before {
			content: "…";
		}
	}

	.ivd__key {
		&::before {
			content: "[ ";
			font-weight: bold;
		}

		&::after {
			content: " ]";
			font-weight: bold;
		}
	}

	&[data-ivd-color-mode="all"] .ivd__key,
	&[data-ivd-color-mode="all"] .ivd__key-core {
		color: $color-key;
	}

	.ivd__key {
		cursor: pointer;

		&:hover .ivd__key-core {
			text-decoration: underline;
		}
	}

	&[data-ivd-color-mode="all"] .ivd__value-wrapper {
		color: $color-value-wrapper;
	}

	.ivd__value-wrapper,
	.ivd__empty-thing {
		display: block;
	}

	.ivd--inline {
		display: inline;
	}

	.ivd--hidden {
		display: none;
	}

	// alerts are excluded from color=none.
	.ivd__alert {
		display: inline-block;
		position: relative;
		padding: 10px 15px;
		margin: 5px;
		border: 1px solid transparent;
		border-radius: $border-radius;
	}

	.ivd__alert--danger {
		color: $color-alert-danger-text;
		background-color: $color-alert-danger-bg;
		border-color: $color-alert-danger-border;
	}

	.ivd__arrow {
		margin: 0 10px;
	}

	.ivd__value {
		font-size: 12px;
		margin: 0 1px;
	}

	&[data-ivd-color-mode="all"] .ivd__value {
		color: $color-value;
	}

	.ivd--noncolor {
		color: $color-text;
	}

	// indentations.
	$levels: (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20);
	@each $level in $levels {
		&[data-ivd-indent-level="#{$level}"] {
			margin-left: $level * 15px;
		}
	}

	.ivd__overhead {
		// TODO  should be flex but fuck it. My nerves.
		display: block;
		overflow: auto;
		list-style-type: none;
		padding: 0;
	}

	.ivd__overhead-item {
		float: left;
		line-height: 13px;
		padding-left: 10px;
		padding-right: 10px;
		border-right: 1px solid $color-text;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
			border-right: 0;
		}
	}

	.ivd__overhead ~ .ivd__root-wrapper {
		margin-top: 15px;
	}

	.ivd__injected-notice {

		display: block;
		position: relative;
		margin-top: 0.75rem;
		margin-bottom: $notice-base;
	}

	.ivd__injected-notice-bubble {
		display: inline-flex;
		column-gap: 0.75rem;
		align-items: center;
		padding: 0.125rem 0.5rem;
		background-color: $color-notice;
		border: 1px solid $color-notice;
		border-radius: $border-radius;

		&::after {
			content: '';
			display: block;
			position: absolute;
			z-index: 1;
			left: $notice-base;
			bottom: -2 * $notice-base;
			border: $notice-base solid transparent;
			border-top-color: $color-notice;
		}
	}

	.ivd__injected-notice-text,
	.ivd__injected-notice .ivd__dismiss {
		color: $color-tree-bg;
	}

	.ivd__injected-notice .ivd__dismiss {
		position: static;
		width: $dismiss-base;

		&:hover {
			border-color: $color-tree-bg;
		}
	}

	&[data-ivd-color-mode="none"] .ivd__injected-notice-bubble {
		background-color: none;
		border-color: $color-tree-bg;

		&::after {
			border-top-color: $color-tree-bg;
		}
	}

}  // end of ( .ivd__tree )



.ivd__form-control {
	box-sizing: border-box;
	width: 100%;
	padding: 0.25rem;
}

.ivd__label {
	+ .ivd__form-control {
		margin-top: 0.5rem;
	}
}


#ivd__z-indexer {
	display: flex;
	position: fixed;
	z-index: 999999999999999999999;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	top: 1rem;
	left: 1rem;
	box-shadow: 2px 2px 5px $color-tree-shade;
	border-radius: $border-radius;
	background-color: blueviolet;
	width: 100px;
	height: 100px;
	padding: 0.5rem;

	.ivd__form-control {
		text-align: center;
	}
}

